<div class="col-md-3">
    <div class="card product-card">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{genres}}</h6>
            <p class="card-text">
                <strong>Year:</strong> {{year}}<br>
                <strong>Rating:</strong> {{rating}}<br>
                <strong>Duration:</strong> {{duration}} min<br>
                <strong>Language:</strong> {{language}}<br>
                <strong>Vector Score:</strong> {{score}}
            </p>
            <button class="btn btn-primary watch-now-btn" data-movie='{{movie}}'>Add To Watch History</button>
        </div>
    </div>
</div>
